.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color:rgb(29, 29, 66);
}

h1 {
    color:rgb(255, 255, 255);
    outline-color: red;
    outline: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align: center; */
    /* text-rendering: auto; */
    padding: 10px;
    border: 4px outset;
    text-decoration:underline;
    text-shadow: 2px 2px red;
    word-spacing: 2px;
    display: inline-block;
    margin: 10 auto;
}

.individual-input {
    padding: 10px;
}

label {
    padding: 10px;
}

input, select{
    width: 100%;
    border-color: red;
    background-color: white;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputs {
    color: red;
    border-color: black;
    border-width: 10px;
    border-style:inset;
    padding:30px;
    list-style: armenian;
    place-items:stretch;
    accent-color: red;
    background-color: rgb(2, 150, 255);
    background-clip: padding-box;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin-left: 20%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#downloadBtn {
    background-color: darkblue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    letter-spacing: 2px;
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid white;
    position: relative;
    border: 4px solid red;
    width: fit-content;
    margin: 0;
}

#downloadBtn:hover {
    background-color: rgb(32, 136, 255);
    color:white;
}
